.page {
  position: absolute;
  left: 0;
  right: 0;
}

.slide-fade-in-up-enter {
  opacity: 0;
  transform: translateY(20px);
}

.slide-fade-in-up-enter-active {
  opacity: 1;
  transition-delay: 1s;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.4s;
}

.slide-fade-in-up-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-fade-in-up-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.4s, delay 0.2s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
